.ui.borderless.topmenu.container.menu{
  border: none;
  box-shadow: none;
}

.murphys-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}
